
.intro{
  height:75%
}
.left{
  display : flex;
  justify-content : center;
  align-items : center;
  border-right-style: dotted;
  border-right-color: rgba(65, 66, 66, 0.20);
  border-bottom-style: solid;
  border-bottom-color: rgba(65, 66, 66, 0.10);
  font: 11px sans-serif;
  background-color:rgba(4, 24, 36, 0.001);
  height : 100%;
  color : #3d231b;

}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:rgba(4, 24, 36, 0.001);
  border-bottom-style: solid;
  border-bottom-color: rgba(65, 66, 66, 0.10);
  height : 100%;
  color : #3d23;
}
/* visited link */
a:visited {
    color: #ede7e3;
}

/* mouse over link */
a:hover {
    color: rgba(2, 12, 3, 0.78);
    filter: drop-shadow(1px 1px 6px gray);
    transition-duration:0.5s;
}

/* selected link */
a:active {
    color: #ede7e3;
}
.button-container {
    width: auto;
    overflow-y: auto;
}
.button-container-day {
    width: auto;
    overflow-y: auto;
}
.button-container > a {
    float: left;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
}
.button-container-day > a {
    float: left;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px;
}
.button{
    z-index: 1;
    width: 10em;
    height: 10em;
    color: white;
    text-shadow: 2px 2px 4px grey;
    box-shadow: 3px 3px 6px grey;
    padding-top: 4em;
    background: rgba(32, 135, 41, 0.6);
    font-weight:  bold;
}
.button-day{
    z-index: 1;
    width: 16em;
    height: 16em;
    color: white;
    text-shadow: 2px 2px 4px grey;
    box-shadow: 3px 3px 6px grey;
    padding: 6em;
    background: rgba(32, 135, 41, 0.6);
    font-weight:  bold;
}
.main{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.buttonParked{
    z-index: 1;
    width: 10em;
    height: 10em;
    padding-top: 4em;
    box-shadow: 3px 3px 6px grey;
    background: rgba(59, 150, 216, 0.6);
    font-weight:  bold;
}
.buttonParked-day{
    z-index: 1;
    width: 16em;
    height: 16em;
    padding-top: 6em;
    box-shadow: 3px 3px 6px grey;
    background: rgba(59, 150, 216, 0.6);
    font-weight:  bold;
}
.buttonAccepted{
    z-index: 1;
    width: 10em;
    height: 10em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 3px 3px 6px grey;
    background: rgba(127, 63, 191, 0.6);
    font-weight:  bold;
}
.buttonAccepted-day{
    z-index: 1;
    width: 16em;
    height: 16em;
    padding-top: 6em;
    box-shadow: 3px 3px 6px grey;
    background: rgba(127, 63, 191, 0.6);
    font-weight:  bold;
}
.buttonAlarm-day {
  z-index: 1;
  background-color: #FFFFFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  width: 16em;
  height: 16em;
  padding-top: 4.5em;
  font-weight:  bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}
.buttonAlarmRW {
  z-index: 1;
  background-color: rgba(170, 28, 28, 0.7);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  width: 10em;
  height: 10em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 3px 3px 6px grey;
  font-weight:  bold;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
h4 {
  color: green;
}
h3 {
  color: rgba(26, 75, 116, 0.87);
}
@-webkit-keyframes glowing {
  0% { background-color: rgba(208, 22, 5, 0.72); -webkit-box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
  50% { background-color: rgba(231, 3, 7, 0.78); -webkit-box-shadow: 0 0 5px rgba(231, 3, 7, 0.78); }
  100% { background-color: rgba(208, 22, 5, 0.72); -webkit-box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
}

@-moz-keyframes glowing {
  0% { background-color: rgba(208, 22, 5, 0.72); -moz-box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
  50% { background-color: rgba(231, 3, 7, 0.78); -moz-box-shadow: 0 0 5px rgba(231, 3, 7, 0.78); }
  100% { background-color: rgba(208, 22, 5, 0.72); -moz-box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
}

@-o-keyframes glowing {
  0% { background-color: rgba(208, 22, 5, 0.72); box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
  50% { background-color: rgba(231, 3, 7, 0.78); box-shadow: 0 0 5px rgba(231, 3, 7, 0.78); }
  100% { background-color: rgba(208, 22, 5, 0.72); box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
}

@keyframes glowing {
  0% { background-color: rgba(208, 22, 5, 0.72); box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
  50% { background-color: rgba(231, 3, 7, 0.78); box-shadow: 0 0 5px rgba(231, 3, 7, 0.78); }
  100% { background-color: rgba(208, 22, 5, 0.72); box-shadow: 0 0 1px rgba(208, 22, 5, 0.72); }
}
.buttonRequested {
  z-index: 1;
  background-color: #FFFFFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  width: 10em;
  height: 10em;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight:  bold;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing1 1500ms infinite;
  -moz-animation: glowing1 1500ms infinite;
  -o-animation: glowing1 1500ms infinite;
  animation: glowing1 1500ms infinite;
}
.buttonRequested-day {
  z-index: 1;
  background-color: #FFFFFF;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  width: 16em;
  height: 16em;
  padding-top: 6em;
  font-weight:  bold;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing1 1500ms infinite;
  -moz-animation: glowing1 1500ms infinite;
  -o-animation: glowing1 1500ms infinite;
  animation: glowing1 1500ms infinite;
}
@-webkit-keyframes glowing1 {
  0% { background-color: rgba(157, 74, 15, 0.79); -webkit-box-shadow: 0 0 1px rgba(157, 74, 15, 0.79);}
  50% { background-color: rgba(204, 85, 0, 0.85); -webkit-box-shadow: 0 0 5px rgba(204, 85, 0, 0.85); }
  100% { background-color: rgba(229, 95, 0, 0.88); -webkit-box-shadow: 0 0 1px rgba(229, 95, 0, 0.88); }
}

@-moz-keyframes glowing1 {
  0% { background-color: rgba(157, 74, 15, 0.79); -moz-box-shadow: 0 0 1px rgba(157, 74, 15, 0.79); }
  50% { background-color: rgba(204, 85, 0, 0.85); -moz-box-shadow: 0 0 5px rgba(204, 85, 0, 0.85); }
  100% { background-color: rgba(229, 95, 0, 0.88); -moz-box-shadow: 0 0 1px rgba(229, 95, 0, 0.88); }
}

@-o-keyframes glowing1 {
  0% { background-color: rgba(157, 74, 15, 0.79); box-shadow: 0 0 1px rgba(157, 74, 15, 0.79); }
  50% { background-color: rgba(204, 85, 0, 0.85); box-shadow: 0 0 5px rgba(204, 85, 0, 0.85); }
  100% { background-color: rgba(229, 95, 0, 0.88); box-shadow: 0 0 1px rgba(229, 95, 0, 0.88); }
}

@keyframes glowing1 {
  0% { background-color: rgba(157, 74, 15, 0.79); box-shadow: 0 0 1px rgba(157, 74, 15, 0.79); }
  50% { background-color: rgba(204, 85, 0, 0.85); box-shadow: 0 0 5px rgba(204, 85, 0, 0.85); }
  100% { background-color: rgba(229, 95, 0, 0.88); box-shadow: 0 0 1px rgba(229, 95, 0, 0.88); }
}

@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
.about{
  display : inline;
  justify-content : center;
  align-items : center;
  background-color:rgba(175, 184, 157, 0.57);
  color : green;
  height:4%
}
